.card {
  position: relative;
}

.cardContents {
  padding: 10px 16px;
}

.card:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.chip {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #fff;
  border-radius: 2px;
  font-weight: 600;
}