.signup {
  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.userId {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 460px) {
  .userId {
    grid-template-columns: 2fr 1fr;
  }
}