.dashboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: end;
}

.myPage {
  color: #404040;
}

.cardList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}